.slide-container {
  background-color: var(--darkblue);
  display: inline-block;
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 3em;
  border-radius: 0.5em;
  
}
.title {
font-size: 1rem;

&__boldtext {
  font-weight: var(--font-weight--bold);
}
}
.range {

  &__minvalue {
    position: absolute;
    left: 3em;
    bottom: 0.5em;
  }
  
  &__maxvalue {
    position: absolute;
    bottom: 0.5em;
    right: 3em;
  }


}
.range-left {
  position: absolute;
  top: -2em;
  right: 3em;
  background-color: var(--white);
  border-radius: 0.5em 0.5em 0 0.5em;

  &__value {
    font-weight: var(--font-weight--bold);
    font-size: 2rem;
    color: var(--verydarkblue);
    padding: 0.5em;
    margin: 0;
  
  &--lighttext {
    // font-weight: var(--font-weight--reg);
    font-size: 1rem;
    opacity: .6;
  }
  }

  &::after {
    content: '';
    width: 2em;
    height: 2em;
    background-color: var(--white);
    position: absolute;
    z-index: 100;
    bottom: -1em;
    right: 0;
    border-radius: 0 1em 0 2em ;
  }
}
.slider {
  appearance: none;
  width: 100%;
  height: 1rem;
  opacity: 0.7;
  transition: opacity 250ms ease-in-out;

&::-webkit-progress-bar {
  background: var(--verydarkblue);
  border-radius: 0.5em;
  outline: none;
  overflow: hidden;
}
  &::-webkit-progress-value {
    background: var(--Gradient);
    width: 81.5%;
  }
  
&::after {
  content: '';
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: var(--white);
  position: absolute;
  right: 8em;
  bottom: 3.55em;
  z-index: 1000;
}
}