:root {
  // colors 

// Primary

--Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

//  Neutral

--baleblue: hsl(243, 100%, 93%);
--grayishblue: hsl(229, 7%, 55%);
--darkblue: hsl(228, 56%, 26%);
--verydarkblue: hsl(229, 57%, 11%);

// font-family
--ff-secondary: 'Poppins', sans-serif;
--ff-primary: 'Raleway', sans-serif;
// font weight
--font-weight--reg: 400;
--font-weight--bold: 700;
}